
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Mouse Memoirs';
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__title {
  font-size: 5vw;
}