@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

.page {
  margin: 0;
  font-family: "Mouse Memoirs";
  background-color: #bde0fe;
  min-height: 100vh;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__title {
  font-size: 5em;
  margin: 5px;
}

.header__page-count {
  font-size: 1.8em;
  margin: 5px;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.navigation__item {
  flex: 1;
}

.navigation__button {
  font-family: "Mouse Memoirs";
  background-color: #555;
  border-radius: 4px;
  font-size: 3vh;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  min-width: 50px;
}

.card-container {
  max-width: 100%; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center
}

.card {
  border: 3px solid #666;
  background-color: pink;
  width: 200px;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  min-height: 300px;
}

.card__img {
  max-height: 250px;
}

.card__actions {
  font-size: 1.3em;
  padding: 10px;
  cursor: pointer;
  font-weight: lighter;
}

@media (max-width: 675px) {
  .page {
    margin: 0;
    font-family: "Mouse Memoirs";
  }

  .header__title {
    font-size: 3.5em;
    margin: 5px;
  }
}
